content .map {
    width: 10%;
    text-align: center;
    vertical-align: middle;
}

.content .status {
    width: 15%;
    text-align: center;
    vertical-align: middle;
}

.content .packages {
    width: 75%;
    text-align: center;
}

.content .package-item {
    width: 35px;
    height: 35px;
    border-radius: 3px;
    float: left;
    border: 1px solid;
    cursor: pointer;
    margin: 2px 1px;
    /*font-size: 11px;
    font-style: normal;
    line-height: 33px;*/
}

.rotulo-relatorio-detalhes-carga {
    font-weight: 600;
}

.pf-relatorio-detalhes-carga {
    margin-left: 40px;
}

.retorn-relatorio-detalhes-carga {
    margin-left: 20px;
}

.subrotulo-relatorio-detalhes-carga {
    margin-left: 30px;
}

.rotulo-liberados {
    width: 1em;
    display: inline-block;
    margin-right: 4px;
    height: 1em;
    background-color: #3E78AA;
}

.rotulo-nao-liberados {
    width: 1em;
    display: inline-block;
    margin-right: 4px;
    height: 1em;
    background-color: #727272;
}

.rotulo-nao-calculados {
    width: 1em;
    display: inline-block;
    margin-right: 4px;
    height: 1em;
    background-color: #D03535;
}

.rotulo-carregados {
    width: 1em;
    display: inline-block;
    margin-right: 4px;
    height: 1em;
    background-color: #95E795;
}

.content .navbar .ct-package {
    /*display: inline-block;*/
    float: left;
    margin: 4px 0 0 20px;
    height: 80%;
    cursor: pointer;
}

    .content .navbar .ct-package .package-item {
        width: 32px;
        height: 27px;
    }

    .content .navbar .ct-package .ct-border {
        padding: 4px;
        opacity: 0.4;
        filter: alpha(opacity=40);
    }

        .content .navbar .ct-package .ct-border.selected {
            border-radius: 5px;
            #border: 1px dashed #C2C1C1;
            padding: 3px;
            opacity: 1.0;
            filter: alpha(opacity=100);
        }

    .content .navbar .ct-package .package-item {
        padding: 15px 0;
        margin: 0 7px 0 0;
        float: left;
    }

    .content .navbar .ct-package .package-desc {
        padding: 6px 0;
        display: inline-block;
        font-size: 11px;
    }

.content .package-item.blue {
    color: #14437c;
    background: #98bfef;
    border-color: #4b8ddd;
}

.content .package-item.gray {
    color: black;
    background: #c7c7c4;
    border-color: #909089;
}

.content .package-item.green {
    color: #043b1b;
    background: #C1FFC1;
    border-color: #2cc36b;
}

.content .package-item.separacao-balanca {
    color: #043b1b;
    background: #4caf50;
    border-color: #2cc36b;
}

.content .package-item.yellow {
    color: #464709;
    background: #eced8f;
    border-color: #d4d64c;
}

/*.content .status .info
{
    margin-bottom: 5px;
    color: gray;
    font-size: 10px;
    font-weight: bold;
*/

.content .status .alert {
    width: 35px;
    height: 35px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}

.rotulo-principal-relatorio-detalhes-carga {
    margin-top: 4px;
}

    .content .status .alert.on {
        background-image: url('../images/map/alert.png');
    }

    .content .status .alert.off {
        background-image: url('../images/map/alert_off.png');
    }

.content .navbar {
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    margin: 30px 0px;
    overflow: hidden;
    padding: 0px;
}

    .content .navbar .container-fluid {
        height: 100%;
        width: 100%;
    }

        .content .navbar .container-fluid .navbar-header {
            height: 100%;
            width: 100%;
            background: none !important;
        }

            .content .navbar .container-fluid .navbar-header .navbar-brand {
                background: #272930;
                display: inline-block;
                height: 100%;
                color: rgba(255,255,255,0.6);
                margin: 0px 30px 0 0;
                padding: 15px 0px;
                font-size: 12px;
                width: 10%;
                text-align: center;
            }

            .content .navbar .container-fluid .navbar-header .ct-calendar {
                float: left;
                margin-right: 30px;
                margin-left: 20px;
                margin-top: 8px;
            }

.cl-mcont .row {
    margin: 20px 0;
}

.content .ct-dashboards {
    width: 100%;
    margin: 20px 0;
    text-align: center;
    border: 1px solid #ECEBEB;
    padding: 10px;
}

    .content .ct-dashboards > strong {
        display: block;
        margin: 5px 0 20px;
    }

    .content .ct-dashboards .ct-dashboard-assembly,
    .content .ct-dashboards .ct-dashboard-cargo {
        width: 80%;
        height: 200px;
        margin: 0 2%;
        display: inline-block;
    }

.loading {
    z-index: 9999;
}

@media (max-width: 767px) {
    .content .navbar .container-fluid .navbar-header .navbar-brand {
        width: 20%;
        margin-right: 5px;
    }

        .content .navbar .container-fluid .navbar-header .navbar-brand.calendar {
            margin-bottom: 10px;
        }

        .content .navbar .container-fluid .navbar-header .navbar-brand.caption {
            clear: both;
        }

    .content .navbar .ct-package + .ct-package {
        margin-left: 8px !important;
    }
}

.pick-title {
    background-color: transparent !important;
    margin: 0 !important;
    color: #000 !important;
}

.pick-calendar {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.content .navbar .ct-package {
    margin: 4px 0 0 2px;
}

.content .package-item.olive {
    color: #043b1b;
    background: #556B2F;
    border-color: #2cc36b;
}

.content .package-item.loaded {
    color: #043b1b;
    background: #548B54;
    border-color: #000;
}

.content .package-item.full {
    padding-top: 5px;
}

    .content .package-item.full::before {
        content: " F ";
        font-weight: bold;
    }

.content .package-item.conferred {
    color: #043b1b;
    background: #7CCD7C;
    border-color: #548B54;
}

.content .package-item.calledoff {
    padding-top: 5px;
    background: #FFA500;
}

    .content .package-item.calledoff::before {
        content: " X ";
        font-size: 14px;
        font-weight: normal;
        font-style: normal !important;
    }

.content .package-item.npal {
    padding-top: 5px;
}

    .content .package-item.npal::before {
        content: "NPAL";
        font-weight: bold;
        font-size: 10px;
    }

.content .package-item.isrepack {
    padding-top: 5px;
}

    .content .package-item.isrepack::before {
        content: "R";
        font-size: 10px;
    }

.content .package-item-round {
    width: 35px;
    height: 35px;
    border-radius: 20px !important;
    float: left;
    border: 1px solid;
    cursor: pointer;
    margin: 2px 1px;
    /*font-size: 11px;
    font-style: normal;
    line-height: 33px;*/
}

.legenda-simbolos {
    border-collapse: separate
}

    .legenda-simbolos td, .legenda-simbolos td:last-child {
        border: none;
    }

    .legenda-simbolos.well {
        padding: 5px;
    }

.legenda-simbolos-titulo {
    text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
}